<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  </head>
  <body>
    <div>
      <p>Hello {{user.name}},</p>
      <p>Your verification code is {{user.profile.verificationCode}} </p>
    </div>
  </body>
</html>