<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  </head>
  <body>
    <div>
      <p>Hello there ,</p>
      <p>Your reset password link is </p>
      <a
        class='button'
        href='{{link}}'
        style='display: inline-block;padding: 10px 20px;background-color: #007bff;color: #ffffff;text-decoration: none;border-radius: 5px;'
      >Reset password</a>
      <p>This link will expire in 20 minutes</p>
      <hr />
      <p>
        If you're having trouble clicking the "Reset Password" button, copy and
        paste the URL below into your web browser:
        {{link}}
      </p>
    </div>
  </body>
</html>